body {
  background-color: #ffe888;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.center {
  text-align: center;
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */
  margin-left: auto;
  margin-right: auto;
}

.header {
  grid-area: header;
  font-family: 'Gorditas';
  font-size: 1.7em;
  padding-top: 50px;
  padding-bottom: 100px;

  display: grid;
  grid-template-columns: 380px 10px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "h-text . h-icon";
  
  gap: 0px 0px;
}

#temperature {
  position: absolute; top: 5px; right: 20px; text-align: right; 
  font-family: 'Gorditas';
}

.header-text {
  grid-area: h-text;
}

.header-text-alt {
  display: none;
}

.header-icon {
  grid-area: h-icon;
}

@media screen and (max-width: 900px) {
    .header {
      grid-area: header;
      /**font-family: 'Gorditas';**/
      font-family: 'Gorditas';
      font-size: 1.7em;
      padding-top: 50px;
      padding-bottom: 100px;
    
      display: grid;
      grid-template-columns: 50px 30px 50px;
      grid-template-rows: auto;
      grid-template-areas: 
        "h-text . h-icon";

      gap: 0px 0px;
      margin: 0 0 0 -100px;
    }

    .header-text {
      grid-area: h-text;
      display: none;
    }

    .header-text-alt {
      grid-area: h-text;
      display: block;

      -moz-transform:rotate(-90deg); 
      -moz-transform-origin: bottom left;
      -webkit-transform: rotate(-90deg);
      -webkit-transform-origin: bottom left;
      -o-transform: rotate(-90deg);
      -o-transform-origin:  bottom left;
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

      margin: 40px 0 0 100px;
    }
}

.footer {
  margin-top: auto;
  color: #413a1b2d;
  font-family: 'Gorditas';
}

.container {
  grid-area: container;

  display: flex;
  flex-wrap: wrap;
  flex-flow: flex-start;
  row-gap: 20px;
  height: 100%;
}

@media screen and (min-width: 600px) {
    .container-adaptive {
        width: 300px;
    }
}

@media screen and (min-width: 900px) {
    .container-adaptive { 
        width: 900px;
    }
}

.baverage {
  display: grid;
  grid-template-columns: 50px 50px 15px 100px 100px;
  grid-template-rows: auto;
  grid-template-areas: 
    "icon icon . name name"
    "icon icon . count count";
  
  gap: 0px 0px;
}

.baverage-icon {
  grid-area: icon;
}

.baverage-name {
  grid-area: name;
  font-family: 'Gorditas';
  font-size: 2.25rem;

  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.baverage-count {
  grid-area: count;

  font-family: 'Indie Flower';
  font-size: 4rem;
  margin: auto;
}